In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import json
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rawson,AR,2021-09-29 21:09:55,-43.3002,-65.1023,72.27,22,100,17.05
1,1,Severo-Kurilsk,RU,2021-09-29 21:09:55,50.6789,156.1250,51.94,90,60,3.65
2,2,Arraial Do Cabo,BR,2021-09-29 21:09:55,-22.9661,-42.0278,71.46,88,75,4.61
3,3,Mahebourg,MU,2021-09-29 21:09:56,-20.4081,57.7000,72.25,78,71,15.17
4,4,Dikson,RU,2021-09-29 21:09:56,73.5069,80.5464,33.03,98,100,16.49
...,...,...,...,...,...,...,...,...,...,...
543,543,Loa Janan,ID,2021-09-29 21:13:40,-0.5830,117.0950,73.33,99,53,1.74
544,544,Port-Cartier,CA,2021-09-29 21:13:41,50.0334,-66.8654,55.62,77,91,4.41
545,545,Byron Bay,AU,2021-09-29 21:11:33,-28.6500,153.6167,64.35,90,100,15.46
546,546,Fez,MA,2021-09-29 21:13:41,34.0372,-4.9998,75.45,43,0,4.61
547,547,Turukhansk,RU,2021-09-29 21:13:42,65.8167,87.9833,31.84,85,12,2.33

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness Heatmap
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Atuona,PF,2021-09-29 21:09:57,-9.8000,-139.0333,77.67,76,42,19.37
8,8,Avarua,CK,2021-09-29 21:09:58,-21.2078,-159.7750,80.65,74,74,9.22
15,15,Butaritari,KI,2021-09-29 21:10:00,3.0707,172.7902,81.52,79,98,17.05
18,18,Buchanan,LR,2021-09-29 21:10:03,5.8808,-10.0467,78.76,88,98,4.27
23,23,Saint Anthony,US,2021-09-29 21:10:05,45.0205,-93.2180,86.31,49,1,3.00
24,24,Faanui,PF,2021-09-29 21:10:05,-16.4833,-151.7500,79.45,72,16,19.82
29,29,Vaini,TO,2021-09-29 21:10:08,-21.2000,-175.2000,77.16,83,75,10.36
39,39,Lorengau,PG,2021-09-29 21:10:11,-2.0226,147.2712,80.83,82,71,3.78
40,40,Belmonte,BR,2021-09-29 21:10:12,-15.8631,-38.8828,77.50,80,0,8.34
44,44,Isangel,VU,2021-09-29 21:10:13,-19.5500,169.2667,75.33,81,56,13.91

In [12]:
preferred_cities_df.count()

City_ID       175
City          175
Country       175
Date          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
7          Atuona      PF     77.67  -9.8000 -139.0333
8          Avarua      CK     80.65 -21.2078 -159.7750
15     Butaritari      KI     81.52   3.0707  172.7902
18       Buchanan      LR     78.76   5.8808  -10.0467
23  Saint Anthony      US     86.31  45.0205  -93.2180
24         Faanui      PF     79.45 -16.4833 -151.7500
29          Vaini      TO     77.16 -21.2000 -175.2000
39       Lorengau      PG     80.83  -2.0226  147.2712
40       Belmonte      BR     77.50 -15.8631  -38.8828
44        Isangel      VU     75.33 -19.5500  169.2667

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [24]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]